<div class="container-sm success d-flex flex-column justify-content-center">
        <div class="card py-4 my-5">
            <div class="card-body text-center">
                <h3>Su Pago Fue Rechazado</h3>
                <p>Su id de pago es {{payment}} si su pago fue acreditado pero vez esto avisanos por discord</p>
                <p>{{data.external_reference}}</p>
            </div>
        </div>
</div>