<div class="container-sm success d-flex flex-column justify-content-center">
        <div class="card border-danger py-4 my-5">
            <div class="card-body text-danger text-center">
                <h3>Su Pago No Fue Recibido</h3>
                <p>Su id de pago es: {{payment}}, si su pago fue acreditado pero vez esto avisanos por discord</p>
                <p><strong>Referencia De Pago: </strong>{{external_reference}}</p>
            </div>
        </div>
</div>