<div class="container-sm success d-flex flex-column justify-content-center">
        <div class="card border-warning py-4 my-5">
            <div class="card-body text-warning text-center">
                <h3>Su Pago Esta Pendiente</h3>
                <p>Su id de pago es: {{payment}}, apenes se acredite el pago se mostrara en la web<br>
                si su pago fue acreditado pero no aparece en nuestra web avisanos por discord</p>
                <p><strong>Referencia De Pago: </strong>{{data.external_reference}}{{external_reference}}</p>
            </div>
        </div>
</div>