<div class="container-sm success d-flex flex-column justify-content-center">
        <div class="card border-success py-4 my-5">
            <div class="card-body text-success text-center">
                <h3>Su pago fue otorgado satisfactoriamente</h3>
                <p>Su id de pago es {{payment}} cualquier problema avisanos atraves de discord</p>
                <p>{{data.external_reference}}</p>
            </div>
        </div>
</div>