<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sobre Nosotros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Somos XeonMine un servidor de minecraft que cerro por falta de presupuesto y estamos intentando recolectar dinero para volver a abrir
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pagarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Donar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{#if user}}
                    <form id="donarForm" action="/donar" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nickname</label>
                            <input type="text" class="form-control" id="username" value="{{user.name}}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" value="{{user.email}}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <input type="number" name="cantidad" class="form-control" id="cantidad" required>
                        </div>
                    </form>
                    {{else}}
                    <strong><a href="/register">Registrate</a> para donar o <a href="/login">Inicia Sesion</a></strong>
                    {{/if}}             
                </div>
                <div class="modal-footer">
                    {{#if user}}
                    <button type="submit" form="donarForm" class="btn btn-success ">Pagar</button>
                    {{/if}}
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>