<div class="container-sm success">
    <div class="row">
        <div class="col-md-2 d-flex justify-content-center py-4">
            <img class="circle" src="https://www.gravatar.com/avatar/{{user.gravatar}}?s=100&d=robohash" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-center py-4">
            <p class="profile"><strong>Nickname:</strong> {{user.name}}</p>
            <p class="profile"><strong>Email:</strong> {{user.email}}</p>
        </div>
    </div>
    <div class="container-fluid line"></div>
</div>