<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Somos XeonMine un servidor de minecraft que cerro por falta de presupuesto y estamos intentando recolectar dinero para volver a abrir">
    <meta name="keywords" content="donar, donacion, server, servers, minecraft, comunidad, xeonmine, abrir, cerrar, ayudar, dinero">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XeonMine</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <!-- Bootstrap -->
    {{!-- <link rel="stylesheet" href="/dist/css/bootstrap.min.css"> --}}
    <!-- Bootstrap bootswatch -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- my Styles -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{>navbar}}

    {{>messages}}

    {{{body}}}

    {{>modals}}

    {{>footer}}

    {{>discord}}

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>